# Build results
bin/
obj/
out/
**/publish/
**/Debug/
**/Release/
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/
*.sln.iml

# Logs
*.log
logs/

# Temp files
*.tmp
*.temp
*.bak
*.swp
*.DS_Store
Thumbs.db
